<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.localweather.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Local Weather</name>
  <description>
        A simple Local Weather app
        local weather radar
local weather forecast
local weather report
local weather app
local weather news
local weather map
local weather channel
local weather nyc
local weather alerts
local weather forecast for today
local weather
local weather radar
local weather forecast
local weather report
local weather app
local weather news
local weather map
local weather channel
local weather nyc
local weather alerts
local weather radar
local weather forecast
local weather report
local weather app
local weather news
local weather map
local weather channel
local weather nyc
local weather alerts
local weather forecast for today
local weather app
local weather alerts
local weather atlanta
local weather austin
local weather albany ny
local weather advisory
local weather and news
local weather and radar
local weather appleton wi
local weather amarillo tx
a local weather app
a local weather radar
find a local weather
what does a local weatherman make
local weather boston
local weather by the hour
local weather buffalo
local weather boise
local weather birmingham
local weather broadcast
local weather baltimore
local weather bloomington il
local weather boca raton
local weather buffalo ny
b.b.c. local weather
local weather channel
local weather conditions
local weather chicago
local weather ct
local weather cincinnati
local weather closings
local weather cameras
local weather charlotte
local weather cleveland
local weather channel 7
d.c. local weather
b.b.c. local weather
local weather doppler
local weather dc
local weather detroit
local weather denver
local weather duluth mn
local weather dallas tx
local weather des moines ia
local weather durham nc
local weather detroit michigan
local weather danville va
d.c. local weather
cala d'or local weather forecast
local weather eugene oregon
local weather extended forecast
local weather evansville
local weather extended
local weather el paso
local weather elmira ny
local weather edinburg tx
local weather elk grove ca
local weather emmett idaho
local weather edison nj 08817
local e weather
local weather forecast
local weather for today
local weather forecast for today
local weather for the week
local weather for tomorrow
local weather forecast 10 day
local weather for saturday
local weather forecast radar
local weather fort worth
local weather for sunday
local weather f
local weather grand rapids
local weather greenville sc
local weather google
local weather green bay wi
local weather glens falls ny
local weather grants pass oregon
local weather gulfport ms
local weather gresham oregon
local weather great falls mt
local weather girl
local weather hourly
local weather houston
local weather harrisburg pa
local weather history
local weather houston tx
local weather hour by hour
local weather houston texas
local weather hartford ct
local weather huntsville al
local weather honolulu
local h how the weather down there lyrics
local h how the weather down there
local weather information
local weather in chicago
local weather in my area
local weather in new york
local weather in las vegas
local weather in atlanta
local weather in new orleans
local weather in miami
local weather in charlotte nc
local weather in washington dc
local weather joplin mo
local weather jackson mi
local weather jackson ms
local weather jamestown ny
local weather johnstown pa
local weather jersey city
local weather jackson nj
local weather janesville wi
local weather jackson mississippi
local weather joliet il
local weather kansas city mo
local weather key west
local weather kenosha
local weather killeen tx
local weather knoxville
local weather kgw
local weather kalispell mt
local weather katu
local weather kalamazoo michigan
local weather killeen texas
u k local weather
local weather las vegas
local weather los angeles
local weather live
local weather live radar
local weather live stream
local weather lubbock
local weather london
local weather lancaster
local weather longview wa
local weather lake tahoe
local weather
local weather app
local weather today
local weather nyc
local weather alerts
local weather forecast for today
local weather tomorrow
local weather boston
local weather chicago
local weather dc
local weather map
local weather mn
local weather miami
local weather memphis
local weather mobile al
local weather madison wi
local weather myrtle beach sc
local weather my location
local weather macon ga
local weather maui
local weather m
bareli m.p. local weather
local weather news
local weather nyc
local weather now
local weather nj
local weather new york
local weather near me
local weather news live
local weather newport news va
local weather nashville
local weather noaa
local weather n ireland
local weather n.y ny
local weather n
local weather n wilkesboro nc
local weather n myrtle beach sc
local weather orlando
local weather okc
local weather omaha
local weather oakland ca
local weather outlook
local weather orange ca
local weather on direct tv
local weather olympia wa
local weather ohio
local weather oregon
salary of local weatherman
map of local weather
video of local weather
accuracy of local weather forecasts
pictures of local weather
history of local weather
definition of local weather
elements of local weather
images of local weather
local weather o fallon mo
local weather portland
local weather pittsburgh
local weather portland maine
local weather philadelphia
local weather phone number
local weather phoenix az
local weather pensacola
local weather paducah ky
local weather prediction
local weather pa
bareli m.p. local weather
local weather quincy ma
local weather quincy il
local weather quincy florida
local weather quarryville pa
local weather queens ny
local weather quitman texas
local weather queenstown md
local weather quakertown pa
local weather queensbury ny
local weather quad cities
local weather radar
local weather report
local weather radar map
local weather radio station
local weather raleigh
local weather rochester ny
local weather radar app
local weather road conditions
local weather reno
local weather ri
r.i. local weather
local weather station
local weather seattle
local weather san diego
local weather syracuse
local weather san francisco
local weather san antonio tx
local weather satellite
local weather sacramento ca
local weather spartanburg sc
local weather springfield il
local weather s
local weather today
local weather tomorrow
local weather tonight
local weather tulsa
local weather tampa
local weather toledo
local weather tucson
local weather tacoma
local weather topeka ks
local weather temple tx
att local weather channel
local weather update
local weather underground
local weather utah
local weather union city tn
local weather uniontown pa
local weather uxbridge ma
local weather unicoi tn
local weather u verse
local weather union maine
local weather utica ny
u k local weather
local weather video
local weather virginia beach
local weather vancouver wa
local weather vancouver
local weather visalia ca
local weather valdosta ga
local weather virginia
local weather ventura ca
local weather vermont
local weather va
local weather warnings
local weather worcester
local weather wind chill
local weather wilmington north carolina
local weather washington dc
local weather warren ohio
local weather weather
local weather widget
local weather winchester va
local weather weekly
local weather xenia ohio
local weather xml
local weather xml feed
local weather xm radio
local weather xcode
local weather channel xfinity
xc local weather
xibo local weather
xian local weather
xiamen local weather
local weather yesterday
local weather york
local weather yakima wa
local weather youngstown ohio
local weather york sc
local weather yonkers ny
local weather yakima
local weather york pa
local weather yulee fl
local weather yucaipa ca
local weather zanesville ohio
local weather zurich
local weather zone
local weather zante
local weather zanzibar
local weather zeeland mi
local weather zephyrhills florida
local weather zion il
location weather by zip code
local weather zadar
local weather 08816
local weather 06877
local weather 04330
local weather 02779
local weather 01201
local weather 01844
local weather 08077
local weather 04005
local weather 01752
local weather 07882
local weather 0
local weather 12
local weather 10 days
local weather 14 day
local weather 11374
local weather 17701
local weather 10465
local weather 11779
local weather 12550
local weather 15146
local weather 19047
local weather 22980
local weather 21901
local weather 28139
local weather 25419
local weather 29646
local weather 23228
local weather 28734
local weather 22193
local weather 20176
local weather 22153
local 2 weather
local 2 weather team
local 2 weather app
local 2 weather man
local 2 weather sault
2 week local weather forecast
fox 2 local weather
channel 2 local weather radar
cbs 2 local weather
krem 2 local weather
local weather 30528
local weather 30830
local weather 30291
local weather 30728
local weather 37643
local weather 38967
local weather 30043
local weather 37887
local weather 36206
local weather 30066
local 3 weather
channel 3 local weather
3 day local weather forecast
cbs 3 local weather
wave 3 local weather
kcra 3 local weather
channel 3 local weather cleveland
local weather 3 days
local weather 47130
local weather 40701
local weather 44122
local weather 46580
local weather 47374
local weather 44408
local weather 48875
local weather 48419
local weather 45152
local weather 46962
local 4 weather
local 4 weather radar
local 4 weather app
for local weather
fox 4 local weather
local weather 5 day
local weather 55744
local weather 5 day forecast
local weather 54880
local weather 55720
local weather 55746
local weather 56567
local weather 59019
local weather 55783
local weather 53538
local 5 weather
local 5 weather radar
local 5 weather green bay
channel 5 local weather
5 day local weather forecast
5 day local weather
king 5 local weather
fox 5 local weather
iphone 5 local weather not working
nbc 5 local weather
local weather 60175
local weather 62801
local weather 62946
local weather 63021
local weather 65109
local weather 61201
local weather 60611
local weather 64050
local weather 61820
local weather 61561
local 6 weather
local 6 weather paducah ky
local 6 weather girl
local 6 weather app
local 6 weather team
local 6 weather julie
local 6 weather orlando fl
local 6 weather map
local 6 weather alerts
local 6 weather miami
local weather 7 day
local weather 77379
local weather 75044
local weather 70506
local weather 77095
local weather 75063
local weather 75243
local weather 78589
local weather 78245
local weather 73068
local 7 weather evansville
local 7 weather radar
local 7 weather dayton ohio
local 7 weather boston
local 7 weather miami
7 day local weather forecast
abc 7 local weather
7 day local weather pakpattan pakistan
7 day local weather forecast melbourne
ios 7 local weather
local weather 83401
local weather 85540
local weather 80917
local weather 86314
local weather 83801
local weather 89703
local weather 83539
local weather 89015
local weather 88210
local weather 80907
local 8 weather
local 8 weather channel
local 8 weather idaho falls
local 8 weather text alerts
fox 8 local weather
ios 8 local weather
news 8 local weather
kait 8 local weather
channel 8 local weather ct
wgal 8 local weather
local weather 97392
local weather 91744
local weather 98632
local weather 95901
local weather 99337
local weather 98532
local weather 92840
local weather 98661
local weather 95425
local weather 97223
local 9 weather
local 9 weather orlando
9 news local weather
fox 9 local weather
910 local weather
kcal 9 local weather
klystron 9 local weather
bay news 9 local weather radar
local 9 news weather cincinnati
news channel 9 local weather
    </description>
  <author email="1anuppanwar@gmail.com" href="http://ionicframework.com">
      Anup Kumar Panwar
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="cordova-plugin-device" spec="~1.1.3"/>
  <plugin name="cordova-plugin-console" spec="~1.0.4"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.0"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.2.0"/>
  <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources\android\splash\drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources\android\splash\drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources\android\splash\drawable-land-hdpi-screen.png" density="land-hdpi"/>
    <splash src="resources\android\splash\drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
    <splash src="resources\android\splash\drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
    <splash src="resources\android\splash\drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
    <splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources\android\splash\drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
</widget>